<!DOCTYPE html>
<html>
  <head>
    <title>로그인창입니다</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>아이디</h1>
    <p>패스워드</p>

    <h2>확인</h2>
  </body>
</html>
