<!DOCTYPE html>
<html>
  <head>
    <title><%= a %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= a %></h1>
    <p>Welcome to <%= a %></p>
  </body>
</html>
