<!DOCTYPE html>
<html>
  <head>
   <h1> <%= name %></h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/public/javascripts/practice.js"></script>
  </head>
  <body>
   
    <a href="/">연습사이트입니다.</a>
    <h1 id="title"> This!</h1>
    <h1 id="title"> This!</h1>
     <h1 id="title"> This!</h1>
     <h1 id="title"> This!</h1>
       
  </body>
</html>
